.cosm-instantiate {
  &.wrap-form {
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .rjsf {
    margin-top: 0;
  }
  .ant-input-number-affix-wrapper {
    padding-left: 0;
  }
  button {
    margin: 1rem 0;
  }
}
